@media screen and (max-width: 700px){
    #dashboard-menu{
        height: max(3rem + 2vh, 3rem);
        width: 100%;
    }
    #dashboard-menu ul{
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
        padding: .8rem;
    }
    #container{
        padding-top: 0;
        margin-top: max(3rem + 2vh, 3rem);
        margin-left: 0;
    }
}
@media screen and (max-width: 480px){
    #dashboard-menu{
        height: max(2rem + 2vh, 2rem);
        width: 100%;
    }
    #dashboard-menu ul {
        padding: .4rem;
    }
    #dashboard-menu ul li p{
        display: none;
    }
    #container{
        margin-top: max(2rem + 2vh, 2rem);
        margin-left: 0;
    }

}