
/*

Style du back uniquement

 */

body{
    background-color: var(--back-color);
}


/** HEADER BACK **/

#header{
    position: sticky;
    top: 0;
    background-color: var(--header-back-color);
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem max(1rem, 1.5rem + 3vw);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 5;
}
#header>*{
    padding: 10px;
}

#header .site_name{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 2;
}

#header  .logo{
    width: 50px;
    vertical-align: middle;
    filter: invert(1);
}

#header  p{
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
}

#header  i{
    color: var(--rouge);
    cursor: pointer;
}
/* Index for multipage */
#dashboard-menu{
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: max(8rem + 5vw, 8rem);

}
#dashboard-menu ul{
    display: flex;
    padding: 1rem;
    flex-flow: column nowrap;
    align-content: center;
    gap: .5rem;
    background: linear-gradient(var(--back-color), rgba(34, 37, 51, 0));
}

#dashboard-menu ul li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: white;
    padding: .5rem;
    border-radius: 3px;
    transition: all .25s;
    cursor: pointer;
    font-weight: 700;
    background-color: var(--back-color);
}

#dashboard-menu ul li:hover, #dashboard-menu ul li.li-selected {
    background-color: var(--selected-item-color);
}

#container{
    margin-left: max(8rem + 5vw, 8rem);
    display: flex;
    flex-direction: column;
}

#header strong{
    font-weight: 700;
}

/**

DASHBOARD PAGE

 */

#dashboard .trame-info-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2rem;
}

#dashboard .trame-info-data{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
}

#dashboard .trame-info-data span{
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--gris);
}

#dashboard .trame-info-data i{
    font-weight: 700;
    color: white;
}

#dashboard .dashboard-item p{
    color: white;
}

.paginator{
    padding-top: .5rem;
}

.paginator-item{
    padding: .2rem .5rem .2rem .5rem;
    margin: .2rem;
    border-radius: 3px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    cursor: pointer;
    transition: all .25s;
}

.paginator-item:hover:not(.paginator-selected){
    opacity: .7;
}

.paginator-selected{
    background-color: white;
    color: rgba(0,0,0, 0.7);
}

/* Modal for logout*/

  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    border-radius: 15px;
    margin: 25% auto;
    padding: 0.4rem max(2vw, .5rem);
    border: 3px solid var(--rouge);
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    text-align: center;
    justify-content: center;
}
.modal-content > *{
    padding: .4rem max(.6rem, 1rem + 2vw);
}
.modal-content #text-logout{
    font-size: 1.5rem;
    flex-grow: 2;
}
.modal-content #y, .modal-content #n{
    width: 48%;
    display: inline-block;
    border-radius: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s;
}
.modal-content #y:hover, .modal-content #n:hover{
    transform: scale(1.03);
}
.modal-content #y a{
    color: var(--rouge);
    width: 100%;
}
.modal-content #y {
    border: 2px solid var(--rouge);
}
.modal-content #n{
    border: 2px solid var(--back-color);
    color: var(--back-color);
}

/* Chemins */

.chemin-parent{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    color: white;
}

.chemin .return-green{
    color: #53c159;
}

.chemin .return-red{
    color: var(--rouge);
}

.chemin .return-blue{
    color: #2ac1b4;
}

.chemin .chemin-paquet{
    font-size: 3rem;
    position: relative;
}

.chemin span{
    font-size: .8rem;
    font-weight: 300;
    font-family: 'Noto Sans Display', sans-serif;
}

.chemin strong{
    font-weight: 700;
}

.chemin{
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10rem;
    transition: all .25s;
    cursor: pointer;
}

.chemin:hover{
    background-color: var(--back-color);
}

.chemin .chemin-ip{
    position: absolute;
    top: -8%; left: 60px;
}

.chemin .chemin-ip-dest{
    position: absolute;
    top: -8%; left: -90px;
}

.chemin .chemin-identifiant{
    position: absolute;
    top: 35%; left: -100px;
    font-size: .8rem;
}

.chemin .chemin-code-1{
    position: absolute;
    top: -10%; left: 80%;
    font-size: .8rem;
}

.chemin .chemin-code-2{
    position: absolute;
    bottom: -10%; left: 0%;
    font-size: .8rem;
}

.chemin .arrows{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.chemin .arrows .fas .fa-network-wired{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: .8rem;
}

.chemin .arrows .fas .fa-times{
    position: absolute;
    bottom: -60%;
    right: -60%;
    color: var(--rouge);
}

.chemin .arrows .fas .fa-check{
    position: absolute;
    bottom: -60%;
    right: -60%;
    color: greenyellow;
}

/* SEARCH */

#autocomplete{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    overflow-x: scroll;
    height: 150px;
    background-color: #1f1f1f;
    border-radius: 3px;
}

#autocomplete .autocomplete-data{
    color: white;
    transition: all .25s;
    cursor: pointer;
}

#autocomplete .autocomplete-data:hover{
    background-color: #646064;
}