#container section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}
 .back-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1rem;

}
 .back-box > div{
    background-color: var(--header-back-color);
    border-radius: 3px;
    width: 100%;
    padding: min(.5rem, 3vw);
}


 .back-box .data-box{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.back-box .data-box.clickable{
    cursor: pointer;
    transition: all .25s;
}

.back-box .data-box.clickable:hover{
    background-color: var(--selected-item-color);
}

 .back-box .data-box .data-box_name{
    color: var(--rouge);
    font-weight: 700;
    margin-bottom: .3rem;

}
 .back-box .data-box .data-box_nb{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

 .back-box h2{
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
     margin-left: .4rem;
     margin-bottom: 1rem;
     text-transform: capitalize;
}

/*  Table */
#container .table {
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    overflow-x: scroll;
    text-align: center;
}

#container .table .table_body{
    width: max(700px, 100%);
    overflow-y: scroll;
}
#container .table .table_head, #container .table .table_body_row{
    padding: .5rem;
    color: var(--gris);
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20% 20%;
    width: max(700px, 100%);
}

#container .table .table_head{
    background-color: #191E3A;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    color: white;
}


#container .table .table_body_row:nth-child(2n+1){
    background-color: rgba(255,255,255,.1);
}
#container .table .table_body_row {
    transition: all .25s;
    cursor: pointer;

}
#container .table .table_body_row:hover{
    background-color: var(--selected-item-color);
}


/* Dashboard Table !!!*/
#last-trames-css {
    height: 40vh;
}
#same-protocol-css {
    height: 40vh;

}

/* Paginator */
.paginator{
    padding: .5rem;
}
.paginator-item{
    padding: .2rem .5rem;
    margin: .2rem;
    border-radius: 3px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    cursor: pointer;
    transition: all .25s;
}
.paginator-item:hover:not(.paginator-selected){
    opacity: .7;
}
.paginator-selected{
    background-color: white;
    color: rgba(0,0,0, 0.7);
}


/* CHART JS BOX*/

.back-box_graph__chatjs{
    width: max(280px, 100%);

}