
/*

Style commun au front et au back

 */

body{
    font-family: 'Source Code Pro', monospace;
    width: min(100%, 1100px);
    margin-inline: auto;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans Display', sans-serif;
}
:root{
    --rouge: #FF2525;
    --back-color: rgb(34, 37, 51);
    --header-back-color: #2F3243;
    --selected-item-color: #6D778A;
    --gris: #C4C4C4;
    --copyright-color: #737373;
}

/*LOGO mame*/
.logo_col_1{
    color: white;
}

.logo_col_2{
    color: var(--rouge);
}

.li-selected{
    background-color: var(--selected-item-color);
}

/* Loading */

.pos-abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-container {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container .loader {
    height: 2rem;
    width: 2rem;
    position: relative;
}
.loader-container .loader .square {
    height: 50%;
    width: 50%;
    position: absolute;
    background: var(--rouge);
}
.loader-container .loader .one {
    top: 0;
    left: 0;
    animation: animate_one 5s infinite ease;
    background: var(--rouge);
}
.loader-container .loader .two {
    top: 50%;
    left: 50%;
    animation: animate_two 5s infinite ease;
    background: var(--gris);
}

@keyframes animate_one {
    0%,
    100% {
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
    }
    12.5% {
        left: 0;
        width: 100%;
    }
    25% {
        top: 0;
        left: 50%;
        width: 50%;
        height: 50%;
    }
    37.5% {
        top: 0;
        height: 100%;
    }
    50% {
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
    }
    62.5% {
        left: 0;
        width: 100%;
    }
    75% {
        top: 50%;
        width: 50%;
        height: 50%;
    }
    87.5% {
        top: 0;
        left: 0;
        height: 100%;
    }
}

@keyframes animate_two {
    0%,
    100% {
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
    }
    12.5% {
        left: 0;
        width: 100%;
    }
    25% {
        top: 50%;
        width: 50%;
        height: 50%;
    }
    37.5% {
        top: 0;
        height: 100%;
    }
    50% {
        left: 0;
        width: 50%;
        height: 50%;
    }
    62.5% {
        top: 0;
        left: 0;
        width: 100%;
    }
    75% {
        left: 50%;
        width: 50%;
        height: 50%;
    }
    87.5% {
        top: 0;
        height: 100%;
    }
}

/*//footer//*/

.footer{
    background-color: var(--back-color);
    padding: 1rem max(1rem, 1.5rem + 3vw);
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;
    position: relative;
}
.footer .footer-bot,.footer .footer-bot a{
    color: var(--copyright-color);
}
footer a{
    color: white;
    cursor: pointer;
    padding: .3rem .5rem;
    transition: all .5s;
    line-height: initial;
}
.footer a:hover{
    color: var(--rouge);
}
.footer .contact{
    display: flex;
    flex-flow: column nowrap;
}
.footer .footer-top, .footer .footer-bot{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer .footer-top{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer .social-red{
    font-size: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

/* Modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content-Box */
.modal-content {
    background-color: #fff;
    border-radius: 21px;
    margin: 25% auto;
    padding: 1rem max(3vw, 2rem);
    border: 3px solid var(--rouge);
    width: clamp(270px, 90%, 800px);
    position: relative;
}
.modal-content .form-modal{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
.modal-content .form-modal > *{
    margin: .5rem 0;

}
.modal-content > form input{
    width: 100%;
    border-radius: 21px;
    border: 1px solid var(--selected-item-color);
    padding: .4rem max(1vw, 1rem);
}
.modal-content .form-modal input[type=submit]{
    background: var(--rouge);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .25s;
    border: 1px solid var(--rouge);
    cursor: pointer;
}
.modal-content .form-modal input[type=submit]:hover{
    color: var(--rouge);
    background: white;
}
.modal-content .form-modal .sub-btn-modal{
    padding: .4rem max(1vw, 1rem);
    border-radius: 21px;
    background: var(--header-back-color);
    color: white;
    transition: all .25s;
    border: 1px solid var(--header-back-color);
    cursor: pointer;
}
.modal-content .form-modal .sub-btn-modal:hover{
    background: var(--selected-item-color);
    color: white;
    box-shadow: inset  0 3px 10px var(--back-color);
}
.modal-content .form-modal .low-focus a{
    color: var(--copyright-color);
    font-size: .8rem;
}
.modal-content .form-modal .low-focus a:hover{
    color: var(--back-color);
}
.absolute-modal{
    position: absolute;
    color: var(--rouge);
    font-size: 2rem;
    top: -5px;
    right: 2px;
    cursor: pointer;
}