/*Front only*/
body{
    background-color: var(--gris );
}

/* LOGIN */

.error {
    color: var(--rouge);
}

.success {
    color: #479c56;
}
/* Header*/
#header{
    position: sticky;
    top: 0;
    /*background-color: var(--gris);*/
    background: linear-gradient(var(--gris) , rgba(196, 196, 196, 0));
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem max(1rem, 1.5rem + 3vw);
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#header>*{
    padding: 10px;
}

#header .site_name{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 2;
}

#header  .logo{
    width: 50px;
    vertical-align: middle;
}

#header  p{
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
    background-color: var(--rouge);
    border-radius: 15px;
    border: solid 2px #ffffff;
    cursor: pointer;
    transition: all .25s;
    padding: .5rem 1.2rem;
}
#header p:hover{
    color: var(--gris);
    background-color: var(--selected-item-color);
    transform: scale(1.03);
}

#header  i{
    color: var(--rouge);
}


/*
INDEX  PHP
*/

/* HERO banner Paralax*/
#hero-banner{
    background: url("../img/background.png")  no-repeat center/cover fixed;
    min-height: 60vh;
    padding: max(1.5rem,  5vw);
    display: flex;
    align-items: center;
}
#hero-banner #box-hero{
    color: white;
}
#hero-banner #box-hero>*{
    margin-bottom: .6rem;
}
#hero-banner #box-hero h2{
    font-size: clamp(1.8rem, 2rem + 3vw , 3rem);
    text-transform: uppercase;
    font-weight: 700;
}
#hero-banner #box-hero p:not(#btn-login){
    font-size: clamp(1.2rem, 1.2rem + 1.5vw , 1.8rem);
}
#hero-banner #box-hero #btn-login{
    background-color: var(--rouge);
    border-radius: 5px;
    cursor: pointer;
    transition: all .25s;
    padding: .5rem 1.2rem;
    font-size: 1rem;
    width: fit-content;
}
#hero-banner #box-hero #btn-login:hover{
    box-shadow: inset  0 3px 10px var(--back-color);
    background-color: var(--selected-item-color);
    color: var(--rouge);
}
/*About-us*/
#abouts-us{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: max(1rem, 3vw);
    gap: 4%;
}

#abouts-us h2{
    padding-bottom: 1rem;
}
#abouts-us p{
    padding-bottom: 1rem;
}
/* Functionality*/
#functionality{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--back-color);
    color: white;
    padding: max(1rem, 3vw);
    gap: 4%;
}
#functionality h2{
    font-size: clamp(1.8rem, 2rem + 3vw , 3rem);
    margin-bottom: .8rem;
}
#functionality > div{
    width: 50%;
}
#functionality ul{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    font-size: 1.1rem;
}
#functionality ul li i{
    margin-right: 1rem;
}

/* Analyse */
#analyse{
    background-color: var(--gris);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: max(1rem, 3vw);
    gap: 4%;
}
#analyse h2{
    font-size: clamp(1.8rem, 2rem + 3vw , 3rem);
    margin-bottom: .8rem;
}
#analyse> div{
    width: 50%;
}
#analyse ul{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    font-size: 1.1rem;
}
#analyse ul li i{
    margin-right: 1rem;
}


/*Mentions légales*/
#mentionslegales{
    padding: 3rem;
}
.ml-title h2 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}
.ml-text p {
    text-align: justify;
}
#mentionslegales h3 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem;
}
/*CSS PAGE 403/404*/
.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }
.error-page h1 {
    font-size: 30vh;
    font-weight: bold;
    position: relative;
    margin: -8vh 0 0;
    padding: 0; }
.error-page h1:after {
    content: attr(data-h1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: transparent;
    /* webkit only for graceful degradation to IE */
    background: -webkit-repeating-linear-gradient(-45deg, var(--header-back-color), var(--header-back-color), var(--rouge), var(--rouge), #b98acc, #69a6ce, #9b59b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
    animation: animateTextBackground 5s ease-in-out infinite; }
.error-page h1 + p {
    color: var(--rouge);
    font-size: 7vh;
    font-weight: bold;
    line-height: 10vh;
    max-width: 600px;
    position: relative; }
.error-page h1 + p:after {
    content: attr(data-p);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }

#particles-js {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
/*button homepage*/
.button-homepage{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.button-hp {
    display: inline-block;
    padding: 12px 24px;
    line-height: 1.77;
    border: solid 2px #fff;
    border-radius: 15px;
    background-color: var(--rouge);
    color: white;
    cursor: pointer;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 18px;
    font-weight: 400;
}
.button-hp:hover{
    opacity: 70%;
}





